version: '3'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: taimstem-web
    restart: always
    ports:
      - "3001:3000"
    environment:
      - NODE_ENV=production
